<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="styles/bootstrap.min.css">


    <link rel="stylesheet" href="styles/styles.css" />
    <title>101 Trivia Found</title>
</head>

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/reset" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="images/101 logo.png" alt="icon" class="iconImg" />
            </a>

            <ul
                class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 navbar navbar-expand-lg navbar-dark bg-dark">
                <li><a href="/reset" class="nav-link px-2 text-light">101 Trivia Found</a></li>






            </ul>
            <div class="text-end">

                </button>
            </div>
        </div>
    </div>
</header>

<body>
    <main></main>
</body>

</html>