<%- include("partials/header.ejs") %>



    <div class="container px-4 py-5 ">
        <h2 class="pb-2 border-bottom d-flex justify-content-center">Choose a topic</h2>


        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 ">

            <div class="col content ">
                <a class="text-decoration-none " href="/start">
                    <div
                        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">

                        <div class="w-100 h-100 position-absolute top-0 z-1 content-img" style="background-image: url('images/historyImg.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position: center;">
                        </div>
                        <div class="pt-5 mt-5 z-2">
                            <div class="d-flex flex-column-reverse h-100 p-5 pb-3 text-dark text-shadow-1 rounded-4 ">
                                <h3
                                    class="py-3 mt-5 mb-4 display-8  lh-1 fw-bold text-bg-dark rounded-4 d-flex justify-content-center align-items-center ">
                                    <p class="wrap">﹤</p>History<p class="wrap">/></p>
                                </h3>
                            </div>
                        </div>

                    </div>
                </a>
            </div>


            <div class="col content ">
                <a class="text-decoration-none " href="/startGeo">
                    <div
                        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">

                        <div class="w-100 h-100 position-absolute top-0 z-1 content-img" style="background-image: url('images/geoImg.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position: center;">
                        </div>
                        <div class="pt-5 mt-5 z-2">
                            <div class="d-flex flex-column-reverse h-100 p-5 pb-3 text-dark text-shadow-1 rounded-4 ">
                                <h3
                                    class="py-3 mt-5 mb-4 display-8  lh-1 fw-bold text-bg-dark rounded-4 d-flex justify-content-center align-items-center ">
                                    <p class="wrap">﹤</p>Geography<p class="wrap">/></p>
                                </h3>
                            </div>
                        </div>

                    </div>
                </a>
            </div>



            <div class="col content ">
                <a class="text-decoration-none " href="/startVehicle">
                    <div
                        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">

                        <div class="w-100 h-100 position-absolute top-0 z-1 content-img" style="background-image: url('images/vehiclesImg.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position: top;">
                        </div>
                        <div class="pt-5 mt-5 z-2">
                            <div class="d-flex flex-column-reverse h-100 p-5 pb-3 text-dark text-shadow-1 rounded-4 ">
                                <h3
                                    class="py-3 mt-5 mb-4 display-9  lh-1 fw-bold text-bg-dark rounded-4 d-flex justify-content-center align-items-center">
                                    <p class="wrap">﹤</p>Vehicles<p class="wrap">/></p>
                                </h3>
                            </div>
                        </div>

                    </div>
                </a>
            </div>

            <div class="col content ">
                <a class="text-decoration-none " href="/startScience">
                    <div
                        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">

                        <div class="w-100 h-100 position-absolute top-0 z-1 content-img" style="background-image: url('images/scienceImg.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position: top;">
                        </div>
                        <div class="pt-5 mt-5 z-2">
                            <div class="d-flex flex-column-reverse h-100 p-5 pb-3 text-dark text-shadow-1 rounded-4 ">
                                <h3
                                    class="py-3 mt-5 mb-4 display-8  lh-1 fw-bold text-bg-dark rounded-4 d-flex justify-content-center align-items-center">
                                    <p class="wrap">﹤</p>General Science<p class="wrap">/></p>
                                </h3>
                            </div>
                        </div>

                    </div>
                </a>
            </div>

            <div class="col content ">
                <a class="text-decoration-none " href="/startAnime">
                    <div
                        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">

                        <div class="w-100 h-100 position-absolute top-0 z-1 content-img" style="background-image: url('images/animeImg.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position: top;">
                        </div>
                        <div class="pt-5 mt-5 z-2">
                            <div class="d-flex flex-column-reverse h-100 p-5 pb-3 text-dark text-shadow-1 rounded-4 ">
                                <h3
                                    class="py-3 mt-5 mb-4 display-8  lh-1 fw-bold text-bg-dark rounded-4 d-flex justify-content-center align-items-center">
                                    <p class="wrap">﹤</p>Anime and Manga<p class="wrap">/></p>
                                </h3>
                            </div>
                        </div>

                    </div>
                </a>
            </div>


            <div class="col content ">
                <a class="text-decoration-none " href="/startGen">
                    <div
                        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">

                        <div class="w-100 h-100 position-absolute top-0 z-1 content-img" style="background-image: url('images/genfoImg.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position: top;">
                        </div>
                        <div class="pt-5 mt-5 z-2">
                            <div class="d-flex flex-column-reverse h-100 p-5 pb-3 text-dark text-shadow-1 rounded-4 ">
                                <h3
                                    class="py-3 mt-5 mb-4 display-8  lh-1 fw-bold text-bg-dark rounded-4 d-flex justify-content-center align-items-center">
                                    <p class="wrap">﹤</p>General Info<p class="wrap">/></p>
                                </h3>
                            </div>
                        </div>

                    </div>
                </a>
            </div>


        </div>
    </div>

    <%- include("partials/footer.ejs") %>